<?xml version="1.0"?>
<robot name="aurora" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <link name="fixed_link"/>
  <link name="mesh_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find simulator_ros2)/description/aurora/meshes/aurora.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <inertial>
      <!-- Inertia from CAD model, filled box assumption -->
      <origin xyz="0.01103 0 0.002" rpy="0 0 0"/>
      <mass value="2.844"/>
      <inertia
        ixx="0.018819942" ixy="0" ixz="-0.000101519"
        iyy="0.057333716" iyz="0"
        izz="0.074201740"/>
    </inertial>
  </link>
  <joint name="fix_base" type="fixed">
      <parent link="fixed_link"/>
      <child link="mesh_link"/>
      <origin xyz="0 0 0" />
  </joint>
</robot>
