<?xml version="1.0"?>
<robot name="iss" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:property name="PI" value="3.1415926535897931" />
  
  <link name="fixed_link"/>
  
  
  <link name="ISS">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 ${PI}" />
      <geometry>
        <mesh filename="file://$(find iss_description)/description/meshes/ISS_2016.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="yellow" />
    </visual>
    <inertial>
      <!-- Inertia from CAD model, filled box assumption -->
      <origin xyz="0.01103 0 0.002" rpy="0 0 ${PI}"/>
      <mass value="2.844"/>
      <inertia
        ixx="0.018819942" ixy="0" ixz="-0.000101519"
        iyy="0.057333716" iyz="0"
        izz="0.074201740"/>
    </inertial>
  </link>
  

  
  <joint name="fix_ISS" type="fixed">
      <parent link="fixed_link"/>
      <child link="ISS"/>
      <origin xyz="0 0 0" />
  </joint>
  


  
  
  
  

</robot>
